@import './base.css';
@import "tailwindcss";



body {
  margin: 0px;
  min-height: 100vh;
}
#app {
  height: 100%;
}
@media (min-width: 1024px) {
  body {
    margin: 0px;
    min-height: 100vh;
  }

  #app {
    height: 100vh;
  }
}
